
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>The Search &mdash; A students idea about S.E.O</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Template by FREEHTML5.CO" />
	<meta name="keywords" content="free html5, free template, free bootstrap, html5, css3, mobile first, responsive" />
	<meta name="author" content="FREEHTML5.CO" />

  <!-- 
	//////////////////////////////////////////////////////

	FREE HTML5 TEMPLATE 
	DESIGNED & DEVELOPED by FREEHTML5.CO
		
	Website: 		http://freehtml5.co/
	Email: 			info@freehtml5.co
	Twitter: 		http://twitter.com/fh5co
	Facebook: 		https://www.facebook.com/fh5co

	//////////////////////////////////////////////////////
	 -->

  <!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link rel="shortcut icon" href="favicon.ico">

	<!-- Google Webfonts -->
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,100,500' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,100,500' rel='stylesheet' type='text/css'>
	
	<!-- Animate.css -->
	<link rel="stylesheet" href="css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="css/icomoon.css">
	<!-- Simple Line Icons -->
	<link rel="stylesheet" href="css/simple-line-icons.css">
	<!-- Magnific Popup -->
	<link rel="stylesheet" href="css/magnific-popup.css">
	<!-- Theme Style -->
	<link rel="stylesheet" href="css/style.css">
	<!-- Modernizr JS -->
	<script src="js/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

	</head>
	<body>
		
	<header id="fh5co-header" role="banner">
		<nav class="navbar navbar-default" role="navigation">
			<div class="container">
				<div class="row">
					<div class="col-md-10 col-md-offset-1">
						<div class="navbar-header"> 
						<!-- Mobile Toggle Menu Button -->
						<a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle visible-xs-block" data-toggle="collapse" data-target="#fh5co-navbar" aria-expanded="false" aria-controls="navbar"><i></i></a>
						<a class="navbar-brand" href="/">The Search</a>
						</div>
						<div id="fh5co-navbar" class="navbar-collapse collapse">
							<ul class="nav navbar-nav navbar-right">
								<li><a href="/"><span>Home <span class="border"></span></span></a></li>
								
							</ul>
						</div>
					</div>
				</div>
			</div>
		</nav>
	</header>
	<!-- END .header -->
	
	
	<div id="fh5co-main">
		<div class="fh5co-intro text-center">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<h1 class="intro-lead">URL Canonicalization</h1>
						<p class=""> by <a>DAVE</a></p>
					</div>
				</div>
			</div>
		</div>

		<div id="fh5co-content">
			<div class="container">
				<div class="row">
					<div class="col-md-10 col-md-offset-1">
						<div class="row">
							<div class="col-md-3 animate-box">
								<h3>Summary</h3>
								<p>Canonicalization is the process of picking the suited URL(Uniform Resource Locator).</p>
								<ul class="fh5co-list-check">
									<li>URL Canonicalization</li>
									<li>HTTP Status codes</li>
									<li>Title-tag</li>
									<li>Meta Description Tag</li>
									<li>Image</li>
									<li>Text Link</li>
									<li>NoFollowed Link</li>
									<li>Create lots of contents</li>
									<li>Use anchor text</li>
									<li>Link Deep</li>
									<li>Use links that are natural for the reader</li>
									<li>Use relevant links</li>
									<li>Use follow links</li>
									<li>Use a reasonable number of internal links</li>
									<li>Backlink</li>
								</ul>
							</div>
							<div class="col-md-9">
							<b>
								<p class="animate-box"><a>URL Canonicalization</a> index URLS. All the content within the website that are associated with the indexed URL is brought to the search engine database, but Uniform Resource Locator or URL’s are what possess ranking. What complicates a certain matter in search is that the identical content page can have a single or multiple URLS associated with it.</p>

								<p class="animate-box">We’re gonna talk about <a>HTTP status codes</a>. HTTP response status codes indicate whether the HTTP request has been fully completed or not.</p>

								<p class="animate-box">Below are the list of HTTP status codes:</p>
								<img src="images/statuscodes.jpg" width="700">

								<p class="animate-box">There are six On-page SEO important HTML elements;</p>

								<p class="animate-box">><a>Title tag </a>– One of the single most important optimization element for the website. This is the headline represented in the Search Engine Result Page.</p>


								<p class="animate-box">><a>Meta Description Tag</a> – These are snippets of texts that describes the page content. Meta tags don’t appear on the page.</p>


								<p class="animate-box">><a>Image</a> – This improves the content of the website itself. It’s an additional information for the user.</p>


								<p class="animate-box">><a>Text Link</a> – Placing internal links can make the visitors navigate in the site.</p>

								<p class="animate-box">><a>NoFollowed Link</a> – A link that does not count as a point in the page’s favor , does not boost the page rank, and this doesn’t help in the Search engine result page.</p>

								<p class="animate-box">><a>Image Link</a> – This is an alternative for an image. It gives a link that will pop an image from a source.</p>

								<p class="animate-box">There are best practices in SEO hyperlinking. The first one is to <a>Create lots of contents</a>. In order to have lots of links , you need to have many internal pages. The second one is to <a>Use anchor text</a>. The internal links should use anchor text as opposed to linked images. The third one is <a>Link Deep</a> you should avoid links to the top level pages on the website. The fourth one is that <a>Use links that are natural for the reader</a>.The link value that gets distributed throughout the site is secondary to this key point. The fifth one is that you should <a>Use relevant links</a>. You should link to relevant content in your internal linking. The sixth one is to <a>Use follow links</a>. Follow links are the best way to build out all the internal link architecture of the content marketing. The last one is to <a>Use a reasonable number of internal links</a>. You really don’t need a lot of internal links in your internal content.</p>

								<p class="animate-box">><a>Backlink</a> is a connection one site gets from another site. Backlinks have a gigantic effect on a site’s noticeable quality in web index comes about. This is the reason they are viewed as extremely valuable for enhancing a site’s SEO positioning. Web indexes figure rankings utilizing various elements to show list items. Nobody knows for beyond any doubt how much weight web crawlers provide for backlinks when posting comes about, however what we do know for certain is that they are essential.</p>
</b>



							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	


	<!-- jQuery -->
	<script src="js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="js/jquery.waypoints.min.js"></script>
	<!-- Magnific Popup -->
	<script src="js/jquery.magnific-popup.min.js"></script>
	<!-- Main JS -->
	<script src="js/main.js"></script>

	
	</body>
</html>
