
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>The Search &mdash; A students idea about S.E.O</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Template by FREEHTML5.CO" />
	<meta name="keywords" content="free html5, free template, free bootstrap, html5, css3, mobile first, responsive" />
	<meta name="author" content="FREEHTML5.CO" />

  <!-- 
	//////////////////////////////////////////////////////

	FREE HTML5 TEMPLATE 
	DESIGNED & DEVELOPED by FREEHTML5.CO
		
	Website: 		http://freehtml5.co/
	Email: 			info@freehtml5.co
	Twitter: 		http://twitter.com/fh5co
	Facebook: 		https://www.facebook.com/fh5co

	//////////////////////////////////////////////////////
	 -->

  <!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link rel="shortcut icon" href="favicon.ico">

	<!-- Google Webfonts -->
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,100,500' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,100,500' rel='stylesheet' type='text/css'>
	
	<!-- Animate.css -->
	<link rel="stylesheet" href="css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="css/icomoon.css">
	<!-- Simple Line Icons -->
	<link rel="stylesheet" href="css/simple-line-icons.css">
	<!-- Magnific Popup -->
	<link rel="stylesheet" href="css/magnific-popup.css">
	<!-- Theme Style -->
	<link rel="stylesheet" href="css/style.css">
	<!-- Modernizr JS -->
	<script src="js/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

	</head>
	<body>
		
	<header id="fh5co-header" role="banner">
		<nav class="navbar navbar-default" role="navigation">
			<div class="container">
				<div class="row">
					<div class="col-md-10 col-md-offset-1">
						<div class="navbar-header"> 
						<!-- Mobile Toggle Menu Button -->
						<a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle visible-xs-block" data-toggle="collapse" data-target="#fh5co-navbar" aria-expanded="false" aria-controls="navbar"><i></i></a>
						<a class="navbar-brand" href="/">The Search</a>
						</div>
						<div id="fh5co-navbar" class="navbar-collapse collapse">
							<ul class="nav navbar-nav navbar-right">
								<li><a href="/"><span>Home <span class="border"></span></span></a></li>
								
							</ul>
						</div>
					</div>
				</div>
			</div>
		</nav>
	</header>
	<!-- END .header -->
	
	
	<div id="fh5co-main">
		<div class="fh5co-intro text-center">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<h1 class="intro-lead">On-Page and Off-Page S.E.O</h1>
						<p class=""> by <a>DAVE</a></p>
					</div>
				</div>
			</div>
		</div>

		<div id="fh5co-content">
			<div class="container">
				<div class="row">
					<div class="col-md-10 col-md-offset-1">
						<div class="row">
							<div class="col-md-3 animate-box">
								<h3>Summary</h3>
								<p>There are two types of S.E.O , these are the On-page S.E.O which is the content of the website , and the Off-page S.E.O which referes to the links and other external signals.</p>
								<ul class="fh5co-list-check">
									<li>Use SEO-friendly URLs</li>
									<li>Start title with keyword</li>
									<li>Always add Modifiers to your title</li>
									<li>Wrap your blog post title in an h1 tag</li>
									<li>Dazzle with multimedia</li>
									<li>Wrap subheadings in h2 tag</li>
									<li>Drop keywords in first 100 words</li>
									<li>Use responsive design</li>
									<li>Use outbound links</li>
									<li>Use internal links</li>
									<li>Boost sites speed</li>
									<li>Sprinkle LSI keywords</li>
									<li>Image optimization</li>
									<li>Use social sharing buttons</li>
									<li>Post Long Content</li>
									<li>Boost Dwell time</li>
									<li>Social media engagement</li>
									<li>Social bookmarking sites</li>
									<li>Forum submission</li>
									<li>Article submission</li>
									<li>Question and Answer</li>
									<li>Video submission</li>
									<li>Infographic submission</li>
									<li>Document sharing</li>

								</ul>
							</div>
							<div class="col-md-9">
							<b>
								<p class="animate-box">We’re going to talk about the two types of SEO, the On-page SEO and the Off-page SEO. The On-page SEO is what you do with your page/website/blog to enhance the traffic. It is what every web developer should consider. The Off-page SEO deals with many link building factors. It’s a nonstop or an ongoing process and needs regular new links that are given priority by each search engines. In short, if you can obtain a high-quality link, then your site can rank higher.</p>

								<p class="animate-box">SEO guides for On-Page technique:</p>

								<p class="animate-box">><a>Use SEO-friendly URLs</a>. According to the most famous search engine, the first 3-5 words in a URL are given more weight. So, you should make your URL short. And don’t forget to include target keywords inside the URL.</p>

								<p class="animate-box">><a>Start title with keyword</a>. We all know that the title tag is the most important on-page SEO factor. So, the closer the keyword is to the beginning of the title tag, the more weight it has with search engines.</p>



								<p class="animate-box">><a>Always add Modifiers to your title</a>. Use “2017”, “guide”, and “review” can help you rank for long tail versions of your target keyword.</p>

								<p class="animate-box">><a>Wrap your blog post title in an h1 tag</a>. The headline tag is also known as the h1 tag.</p>

								<p class="animate-box">><a>Dazzle with multimedia</a>. Texts are boring, add some videos, images and even gifs.</p>

								<p class="animate-box">><a>Wrap subheadings in h2 tag</a>. Always include your target keyword in at least one subheading and wrap it in h2 tag.</p>

								<p class="animate-box">><a>Drop keywords in first 100 words</a>. The keyword should appear in the first 100-150 words in the blog/page.</p>

								<p class="animate-box">><a>Use responsive design</a>. The most famous search engine now penalizes mobile unfriendly sites last two years ago.</p>

								<p class="animate-box">><a>Use outbound links</a>. Outbound links helps the search engine to figure out your page’s topic.</p>

								<p class="animate-box">><a>Use internal links</a>. Internal linking is MONEY. Use it twice or thrice in every post.</p>

								<p class="animate-box">><a>Boost sites speed</a>. You can boost your site speed by using CDN, compressing your images, and switching to a faster host.</p>

								<p class="animate-box">><a>Sprinkle LSI keywords</a>. This will help the search engine determine the page’s relevancy.</p>

								<p class="animate-box">><a>Image optimization</a>. At least one image file name must include the target keyword.</p>

								<p class="animate-box">><a>Use social sharing buttons</a>. This may not play a direct role in ranking the site, but this can share your contents.</p>

								<p class="animate-box">><a>Post Long Content</a>. In SEO, “length is strength”. Longer contents tend to rank significantly higher than shorter contents.</p>

								<p class="animate-box">><a>Boost Dwell time</a>. Increase the average dwell time by writing long, engaging content that keeps people reading.</p>

								<p class="animate-box">SEO guides for Off-page technique:</p>


								<p class="animate-box">><a>Social media engagement</a>. This is a major technique. If you want to make your content popular, engage with people on different social media platforms.</p>

								<p class="animate-box">><a>Social bookmarking sites</a>. One of the best platforms to promote the content. If you bookmark the content on popular social bookmarking websites, you gain high traffic to your webpage or blog.</p>

								<p class="animate-box">><a>Forum submission</a>. Always participate in search forums that are related to the website and business to make a community. You should reply to threads, and answer people’s questions.</p>

								<p class="animate-box">><a>Article submission</a>. Submit article in a high PR article directory. You can give your links to your website.</p>

								<p class="animate-box">><a>Question and Answer</a>. Give clear answers to question, give a link to your website which will increase the visibility.</p>

								<p class="animate-box">><a>Video submission</a>. If you want to have a popular video, give it a proper title, tags, description , and reference links.</p>

								<p class="animate-box">><a>Infographic submission</a>. You should make your infographics more creative. Always give reference link to your webpage or blog.</p>

								<p class="animate-box">><a>Document sharing</a>. Create good documents relating to the business or blog. These documents must have a unique content and should be in pdf or ppt format.</p>

								</b>






							</div>
						</div>
					</div>
				</div>
			</div>
		</div>



	<!-- jQuery -->
	<script src="js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="js/jquery.waypoints.min.js"></script>
	<!-- Magnific Popup -->
	<script src="js/jquery.magnific-popup.min.js"></script>
	<!-- Main JS -->
	<script src="js/main.js"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-102752739-2', 'auto');
  ga('send', 'pageview');

</script>
	
	</body>
</html>
