
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>The Search &mdash; A students idea about S.E.O</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Template by FREEHTML5.CO" />
	<meta name="keywords" content="free html5, free template, free bootstrap, html5, css3, mobile first, responsive" />
	<meta name="author" content="FREEHTML5.CO" />

  <!-- 
	//////////////////////////////////////////////////////

	FREE HTML5 TEMPLATE 
	DESIGNED & DEVELOPED by FREEHTML5.CO
		
	Website: 		http://freehtml5.co/
	Email: 			info@freehtml5.co
	Twitter: 		http://twitter.com/fh5co
	Facebook: 		https://www.facebook.com/fh5co

	//////////////////////////////////////////////////////
	 -->

  <!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link rel="shortcut icon" href="favicon.ico">

	<!-- Google Webfonts -->
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,100,500' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,100,500' rel='stylesheet' type='text/css'>
	
	<!-- Animate.css -->
	<link rel="stylesheet" href="css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="css/icomoon.css">
	<!-- Simple Line Icons -->
	<link rel="stylesheet" href="css/simple-line-icons.css">
	<!-- Magnific Popup -->
	<link rel="stylesheet" href="css/magnific-popup.css">
	<!-- Theme Style -->
	<link rel="stylesheet" href="css/style.css">
	<!-- Modernizr JS -->
	<script src="js/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

	</head>
	<body>
		
	<header id="fh5co-header" role="banner">
		<nav class="navbar navbar-default" role="navigation">
			<div class="container">
				<div class="row">
					<div class="col-md-10 col-md-offset-1">
						<div class="navbar-header"> 
						<!-- Mobile Toggle Menu Button -->
						<a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle visible-xs-block" data-toggle="collapse" data-target="#fh5co-navbar" aria-expanded="false" aria-controls="navbar"><i></i></a>
						<a class="navbar-brand" href="/">The Search</a>
						</div>
						<div id="fh5co-navbar" class="navbar-collapse collapse">
							<ul class="nav navbar-nav navbar-right">
								<li><a href="/"><span>Home <span class="border"></span></span></a></li>
								
							</ul>
						</div>
					</div>
				</div>
			</div>
		</nav>
	</header>
	<!-- END .header -->
	
	
	<div id="fh5co-main">
		<div class="fh5co-intro text-center">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<h1 class="intro-lead">What is S.E.O?</h1>
						<p class=""> by <a>DAVE</a></p>
					</div>
				</div>
			</div>
		</div>

		<div id="fh5co-content">
			<div class="container">
				<div class="row">
					<div class="col-md-10 col-md-offset-1">
						<div class="row">
							<div class="col-md-3 animate-box">
								<h3>Summary</h3>
								<p>S.E.O or also known as Search Engine Optimization is the process of improving the visibility of a website on search engine results.</p>
								<ul class="fh5co-list-check">
									<li>Organic and Pay Per Click</li>
									<li>Local Results</li>
									<li>Check Out Shopping Results</li>
									<li>Stay Current with News Results</li>
									<li>SEO affects business</li>
									<li>You must know your budget</li>
									<li>The magic is in the maintenance</li>
									<li>SEO is mor than just plugging holes</li>
								</ul>
							</div>
							<div class="col-md-9">
							<b>
								<p class="animate-box">Have you ever thought about making a website? Have you ever wondered how other websites gain so much visitors in a small amount of time? Well, knowing SEO or Search Engine optimization can help you!</p>

								<p class="animate-box">A Search Engine Optimization shows the strategies or techniques will help you raise the top of the page of a search engine such as; Bing, Google, Yahoo, and many more.</p>

								<p class="animate-box">There are a lot of guidelines on how to read a SEO results page:</p>

								<p class="animate-box">>Look out for the two; <a>Organic and Pay Per Click</a>. The Organic or Organic-results index is created by these things called searchbots. For example, google uses “googlebots” to acquire pages. In short, searchbots wanders around the web moving from page to page, and analyze those pages to be indexed. Every search results typically show organic-results to the search results. Today, all of the search engines have these called PPC or Pay Per Click Ads. These ads that cost the advertiser nothing until someone clicks the link. PPC ads are usually placed at the very top of the search results.</p>

								<p class="animate-box">>You should also Look at <a>Local Results</a>. For example, search in “Yahoo!” for the term personal injury attorney, and the result will show something like the figure.</p>

								<p class="animate-box">>You might want to <a>Check Out Shopping Result</a>. You might want to buy a product interested in buying. The major search engines all maintain product indexes, totally separate from the organic or even the PPC indexes.</p>

								<p class="animate-box">>You must <a>Stay Current with News Results</a>. If the search engine thinks result is useful to you , based on you search , like Donald Trump or just about any country name , then you’ll see news result in the</p>

								<p class="animate-box">There are a lot of things that you should know about SEO. Have you ever thought about what’s the real purpose for this? The answer is that <a>SEO affects businesses</a>. SEO can help people know about the company and contact the business. This can also make your business gain fame. In SEO m visibility can make or destroy your business.</p>

								<p class="animate-box">There are many things to expect in SEO;</p>

								<p class="animate-box">><a>You must know your budget</a>. It’s a very good investment for your growing business. You should also have the time to invest. There are a mix of people of strategist, tactical doers, and many more personnel’s behind a successful website.</p>

								<p class="animate-box">><a>The magic is in the maintenance</a>. It’s difficult that one-time work will exceed or meet your expectations and goals.</p>

								<p class="animate-box">><a>SEO is more than just plugging holes</a>. SEO is not easy. This takes time.</p>

								<p class="animate-box">In conclusion, you should know more about SEO, make research, read blogs, or even enroll a class about it. Just put in mind that there are only two results; good and bad.</p>

								</b>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>



	<!-- jQuery -->
	<script src="js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="js/jquery.waypoints.min.js"></script>
	<!-- Magnific Popup -->
	<script src="js/jquery.magnific-popup.min.js"></script>
	<!-- Main JS -->
	<script src="js/main.js"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-102752739-2', 'auto');
  ga('send', 'pageview');

</script>
	
	</body>
</html>
